body{
    background-color:navy;
    text-align: center;
    color: silver;
    
}

#banner {
    background-color: red;
    text-align: center;
}

#rules  {
    text-align: center;
}

#randomNum  {
    text-align: center;
}

#gameStats  {
    text-align: center;
}

.crystal1, .crystal2, .crystal3, .crystal4   {
    display: block;
    
}
#score  {
    text-align: center;
}